<h1>Your Search Returned: <%= @total_foods %> Foods</h1>
<h3>Top 10 Results:</h3>
<% @foods.each do |food| %>
  <ul class="food">
    <li class="gtin-upc">Food GTIN/UPC Code: <%= food.code %></li>
    <li class="description">Description: <%= food.description %></li>
    <li class="brand-owner">Brand: <%= food.brand %></li>
    <li class="ingredients">Ingredients: <%= food.ingredients %></li>
  </ul>
<% end %>
